body{
    font: 20pt arial;
    background-color: rgb(112, 112, 230);
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 100px;
    padding: 20px;
    width: 400px;
    margin: auto;
    box-shadow: 10px 10px 50px black;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}